<div class="card mat-card">
    <div class="card-titles">
        <h2 id="scrollspyHeading3">Educación</h2>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" *ngIf="isLogged" routerLink="/nuevaedu"> + Nueva
                Educación</button>
        </div>
        <div class="text-center" *ngIf="isLoading">
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!isLoading">
            <ul *ngFor="let Educacion of educacion">
                <li>
                    <h3>{{Educacion.nombreE}}</h3>
                </li>
                <p>{{Educacion.descripcionE}}</p>
                <button class="btn-edit" routerLink="/editedu/{{Educacion.id}}" *ngIf="isLogged">
                    <i class="fa fa-pen"></i>
                </button>
                <button class="btn-delet" (click)="delete(Educacion.id)" *ngIf="isLogged">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </ul>
        </div>
    </div>
</div>