<section class="gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div class="mb-md-5 mt-md-4 pb-5">
                            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                                <div class="form-group">
                                    <label for="nombreE">Nombre de la institucion</label>
                                    <input type="text" class="form-control" name="nombreE" id="nombreE" [(ngModel)]="nombreE" required>
                                </div>
                                <div class="form-group">
                                    <label for="descripcionE">Descripcion de sus estudios</label>
                                    <input type="text" class="form-control" name="descripcionE" id="descripcionE" [(ngModel)]="descripcionE" required>
                                </div>
                                <br>
                                <button class="btn btn-primary">
                                    Agregar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>               
            </div>
        </div>
    </div>
</section>