<div class="card mat-card">
    <div class="card-titles">
        <h2>Experiencia laboral</h2>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-dark" *ngIf="isLogged" routerLink="/nuevaexp"> + Nueva
                Experiencia</button>
        </div>
        <div class="text-center" *ngIf="isLoading">
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
        </div>
        <div *ngIf="!isLoading">
            <ul *ngFor="let Experiencia of expe">
                <li>
                    <h3>{{Experiencia.nombreE}}</h3>
                </li>
                <p>{{Experiencia.descripcionE}}</p>
                <!-- Boton editar -->
                <button class="btn-edit" routerLink="/editexp/{{Experiencia.id}}" *ngIf="isLogged" [attr.title]="'Editar'">
                    <i class="fa fa-pen"></i>
                </button>
                <!-- Boton eliminar -->
                <button class="btn-delet" (click)="delete(Experiencia.id)" *ngIf="isLogged" [attr.title]="'Eliminar'">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </ul>
        </div>
    </div>
</div>