.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: #0a66c2;
    z-index: 0;
}

.btn-edit{
  opacity: 1;
  border-radius: 20%;
  color: #0aafbbef;
  outline: none;
  border: none;
  background-color: #ffffff00;
}

.btn-delet{
  opacity: 1;
  border-radius: 20%;
  color: #f10909;
  outline: none;
  border: none;
  background-color: #ffffff00;
}