<!--About me-->
<div class="card mat-card" id="first-card" name="ancla-1">
    <div id="profile-background"><img src="assets/img/portfolio/adelaida montenegro.png" ></div>
    <div id="info" style="padding: 16px;" >
        <!--Img Perfil-->
        <div id="info-img">
            <img class="profile-image" src= "assets/img/user-astronaut-solid.svg">
            <button class="btn-edit" *ngIf="isLogged" routerLink="/nuevaexp"><i class="fa fa-pen"></i></button>
        </div>
        <div class="container-fluid">
        <div id="info-data" class="row">
            <div class="col-4">
                <span class="nombre">{{persona.nombre}} {{persona.apellido}}</span>
                <div id="info-company">Full Stack Developer Jr</div>
                <div id="info-contact">
                    <span>Buenos Aires(Argentina)</span>
                    <span><a href="#">Informacion contact</a></span>
                </div>
            </div>
            <ul id="info-details" class="col-8">
                <li>
                    <a href="#">
                    <img src="assets/img/portfolio/logo-utn.ba-horizontal-e1471367724904.jpg" class="float-end">
                    </a>
                </li>
            </ul>
        </div>    
        </div>
        <div id="info-actions">
            <button class="btn btn-primary me-2">Tengo interés en</button>
            <button class="btn btn-light me-2">Añadir sección</button>
            <button class="btn btn-light">Mas</button>
        </div>
    </div>
</div>
<!--Projects-->
<div class="card mat-card">
    <div class="card-titles">
        <h2>Projectos</h2>
        <button class="btn-edit" *ngIf="isLogged" routerLink="/nuevaexp"><i class="fa fa-pen"></i></button>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col offset-md-1">
            <div class="card " style="width: 18rem;">
                <img src="https://loremflickr.com/320/240" class="card-img-top img-thumbnail " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/4" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
        <div class="col offset-md-1">
            <div class="card" style="width: 18rem;">
                <img src="https://loremflickr.com/320/240/cat" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/0" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
        <div class="col offset-md-1">
            <div class="card" style="width: 18rem;">
                <img src="https://loremflickr.com/320/240/dog" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/4" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
    </div>
</div>
<!--Exp-->
<app-experiencia></app-experiencia>
<!--Educacion-->
<app-educacion></app-educacion>
<!--Skills-->
<app-skill></app-skill>