<!--About me-->
<div class="card mat-card" id="first-card" name="ancla-1">
    <div id="profile-background"><img src="assets/img/portfolio/adelaida montenegro.png" ></div>
    <div id="info" style="padding: 16px;" >
        <!--Img Perfil-->
        <div id="info-img">
            <img class="profile-image" src= "assets/img/user-astronaut-solid.svg">
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div class="container-fluid">
        <div id="info-data" class="row">
            <div class="col-4">
                <span class="nombre">{{persona.nombre}} {{persona.apellido}}</span>
                <div id="info-company">Full Stack Developer Jr</div>
                <div id="info-contact">
                    <span>Buenos Aires(Argentina)</span>
                    <span><a href="#">Informacion contact</a></span>
                </div>
            </div>
            <ul id="info-details" class="col-8">
                <li>
                    <a href="#">
                    <img src="assets/img/portfolio/logo-utn.ba-horizontal-e1471367724904.jpg" class="float-end">
                    </a>
                </li>
            </ul>
        </div>    
        </div>
        <div id="info-actions">
            <button class="btn btn-primary me-2">Tengo interés en</button>
            <button class="btn btn-light me-2">Añadir sección</button>
            <button class="btn btn-light">Mas</button>
        </div>
    </div>
</div>
<!--Projects-->
<div class="card mat-card">
    <div class="card-titles">
        <h2>Projectos</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="row row-cols-1 row-cols-md-5 g-4">
        <div class="col offset-md-1">
            <div class="card " style="width: 18rem;">
                <img src="https://loremflickr.com/320/240" class="card-img-top img-thumbnail " alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/4" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
        <div class="col offset-md-1">
            <div class="card" style="width: 18rem;">
                <img src="https://loremflickr.com/320/240/cat" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/0" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
        <div class="col offset-md-1">
            <div class="card" style="width: 18rem;">
                <img src="https://loremflickr.com/320/240/dog" class="card-img-top img-thumbnail" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Titulo de projecto</h5>
                  <p class="card-text">Descripcion breve del projecto.</p>
                  <a target="_blank" routerLink="/4" class="btn btn-primary">Ir al projecto</a>
                </div>
              </div>
        </div>
    </div>
</div>
<!--Exp-->
<div class="card mat-card">
    <div class="card-titles">
        <h2>Experiencia laboral</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="row">
        <div>
            <ul>
                <li><h3>Trabajo1</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
            <ul>
                <li><h3>Trabajo2</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
            <ul>
                <li><h3>Trabajo3</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
        </div>
    </div>
</div>
<!--Educacion-->
<div class="card mat-card">
    <div class="card-titles">
        <h2>Educación</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <div class="row">
        <div>
            <ul>
                <li><h3>Estudio 1</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
            <ul>
                <li><h3>Estudio 2</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
            <ul>
                <li><h3>Estudio 3</h3>-<h4>(years)</h4></li>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, odio itaque? Ex officiis aliquid blanditiis beatae suscipit aut harum fugiat necessitatibus ab minima! Inventore quos sapiente natus ducimus qui asperiores?</p>
            </ul>
        </div>
    </div>
</div>
<!--Skills-->
<div class="card mat-card">
    <div class="card-titles">
        <h2>Hard & Soft skills</h2>
        <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
    </div>
    <!--Ruedaporcent-->
    <div class="row">
            <!--HTML-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="95"
                [radius]="85"
                [imageSrc]="'assets/img/html.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
            <!--CSS-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="68"
                [radius]="85"
                [imageSrc]="'assets/img/CSS.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
            <!--JS-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="75"
                [radius]="85"
                [imageSrc]="'assets/img/js.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
            <!--GTIHUB-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="70"
                [radius]="85"
                [imageSrc]="'assets/img/git.png'"
                [showImage]="true"
                [imageHeight]="70"
                [imageWidth]="70"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
            <!--ENG-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="65"
                [radius]="85"
                [imageSrc]="'assets/img/eng.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
            <!--GRUPAL-->
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                [percent]="90"
                [radius]="80"
                [imageSrc]="'assets/img/grupal.png'"
                [showImage]="true"
                [imageHeight]="90"
                [imageWidth]="90"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="1"
                [outerStrokeColor]="'#4882c2'"
                [innerStrokeColor]="'#e7e8ea'"
                [animation]="true"
                [animationDuration]="300"
                [clockwise]="false"
                [showUnits]="false"
                [showSubtitle]="false"
            ></circle-progress>
            </div>
        <!--<p>CSS</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>JavaScript</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Angular</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>NodeJs</p>
        <div class="progress">
            <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>-->
    </div>
</div>