.mat-card{
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: #0a66c2;
    z-index: 0;
}
.mat-card#first-card {
    padding: 0;
    margin-top: 0;
}
/*cambio el margen top en pantallas chicas */
@media (max-width: 700px) {
    .mat-card#first-card {
        padding: 0;
        margin-top: 75px;
    }
}
div#profile-background{
    display: flex;
    z-index: -1;
}
div#profile-background img{
    width: 100%;
    border-radius: 32px 32px 0 0;
}
span.nombre{
    display: inline;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 13.5ch;

    animation: typing 2s steps(19),
    blink .5s infinite step-end alternate;
    overflow:hidden ;
}
@keyframes typing{
    from {width: 0}

}
@keyFrames blink {
    50% { border-color: transparent}
   }
.profile-image{

    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
    z-index: 1;
    background-color: azure;
    box-shadow: 3px 3px 3px gray;
}
div#info-actions{
    display: flex;
}
.btn-edit{
  opacity: 1;
  border-radius: 20%;
  color: #0aafbbef;
  outline: none;
  border: none;
  background-color: #ffffff00;
}
#info-details img{
    width: 200px
}
#info-details{
    list-style:none;
    flex-shrink: 0;  
    border: 1px;
    display: inline-block;
    padding-left: 40%;
    text-align: left;
}
h3, h4{
    display: inline;
}