<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar sesion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="modal-body">
            <div class="mb-3">
              <label for="nombreUsuario" class="form-label">Usuario</label>
              <input type="email" class="form-control" id="nombreUsuario" name="nombreUsuario" aria-describedby="emailHelp" [(ngModel)]="nombreUsuario" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="password" name="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" required>
              <input type="checkbox" (change)="toggleShowPassword()" name="password"> Mostrar contraseña
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
      <div class="modal-footer">
        <p>¿No tienes cuenta? Resgistrate!</p><button type="button" class="btn btn-primary" data-bs-dismiss="modal"
          (click)="login()">Sign Up</button>
      </div>
    </div>
  </div>
</div>