<div class="container" *ngIf="persona">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreE">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" [(ngModel)]="persona.nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control" name="apellido" id="apellido" [(ngModel)]="persona.apellido" required>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="descripcion" [(ngModel)]="persona.descripcion" required>
                </div>
                <div class="form-group">
                    <label for="img">Descripcion de sus estudios</label>
                    <input type="file" class="form-control" name="img" id="img" [(ngModel)]="persona.img" (change)="uploadImage($event)" accept=".jpg, .jpeg, .png">
                </div>
                <br>
                <div class="imagen">
                    <img [src]="imageService.url" width="200px">
                </div>
                <br>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>